Options -MultiViews
RewriteEngine On

# Serve existing files and directories directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all routes to index.html
RewriteRule ^ index.html [L]
